body {
     background-color: #c4edfc;
     font-family: Source Sans Pro;
     font-color: black;
 }

p {
	background-color: #a5e1f7;
	text-align: center;
	padding: 30px;
}

h1 {
	text-align: center;
	font-family: Barrio;
}

a {
	text-decoration: none;
}
